@import '../../../theme/Theme.scss';

%venue-square {
    width: 90%;
    height: 128px;
    border-width: 1px;
    box-shadow: lightness($color: #000000);
    border-style: solid;
    // padding: 10px;
    display: grid;
    grid-template-rows: 25% 60%;
    row-gap: 10px;
}

.icon-box { 
    height: 60%;
    display: block;
    margin-top: 20px;
    margin-left: auto !important; // Using !important to allow the icon box to be centered.
    margin-right: auto !important;
    width: 50%;
    padding: 50px;
    text-align: center;
}

.venue_square_title {
    position: relative;
    margin: auto;
    clear: left;
    height: auto;
    width: 100%;

    font-family: $SUBTITLE-FONT-FAMILY;
    text-align: center;
    
}

.venue-ok {
    @extend %venue-square;
    background: $OK;
}

.venue-closed {
    @extend %venue-square;
    background: $FINISHED;
}

.venue-maintenance {
    @extend %venue-square;
    background: $MAINTENANCE;
}

.venue-unknown {
    @extend %venue-square;
    background: $UNKNOWN;
}

.venue_square_collapsed {

}