$PINK_LIGHT: #ff9ff3;
$PINK: #f368e0;
$YELLOW: #feca57;
$GOLD: #ff9f43;
$RED_LIGHT: #ff6b6b;
$RED: #ee5253;
$CYAN: #48dbfb;
$DEEP_SKY: #0abde3;
$GREEN_LIGHT: #1dd1a1;
$GREEN: #10ac84;
$TEAL_LIGHT: #00d2d3;
$TEAL: #01a3a4;
$BLUE_LIGHT: #54a0ff;
$BLUE: #2e86de;
$PURPLE_LIGHT: #5f27cd;
$PURPLE: #341f97;
$GRAY_LIGHT: #c8d6e5;
$GRAY: #8395a7;
$GRAY_DARK: #576574;
$GRAY_DARKER: #222f3e;
$SUCCESS: $GREEN_LIGHT;
$FAILURE: $RED;
$WARNING: $YELLOW;
$NOTICE: $CYAN;
