$OK: '#1dd1a1';
$MAINTENANCE: '#feca57';
$UNKNOWN: '#c8d6e5';
$UNAVAILABLE: '#ff6b6b';
$FINISHED: '#c8d6e5';

$TITLE-FONT-FAMILY: "MuseoModerno", cursive;
$SUBTITLE-FONT-FAMILY: 'Open Sans', sans-serif;
$BODY-FONT-FAMILY: 'Open Sans', sans-serif;