.editable-property {
	.buttons {
		margin-top: 20px;
	}

	.edit {
		display: inline-block;
		color: #757575;
		font-size: 0.9em;
		margin-left: 10px;
		margin-top: 7px;

		svg {
			margin-right: 7px;
		}
	}
}
