.filter {
	display: flex;
	flex-direction: row;

	&,
	* {
		box-sizing: border-box;
	}

	.indv-filter {
		display: flex;
		align-items: center;
		margin-right: 20px;
		min-width: 12pc;

		&:after {
			content: ' ';
			display: inline-block;
			width: 1px;
			height: 100%;
			background: gainsboro;
			margin-left: 20px;
			color: gainsboro;
		}

		.text-field,
		.select {
			margin-bottom: 0;
			width: 100%;
		}

		.label {
			margin-right: 20px;
		}
	}
}
