.event-update {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;

  .bar{
    position: relative;
    top: 0;
    left: 19px;
    z-index: 1;
    height: 70px;
    width: 1px;
    background: #eaeaea;
  }

  .icon{
    z-index: 2;
    padding: 10px;
    border-radius: 100px;
    background: #eaeaea;
    width: 17px;
    text-align: center;
    height: 17px;
    margin-right: 20px;
  }

  .description{
    display: flex;
    flex-grow: 1;
    align-items: center;

    .venue,.state,.ents{
      padding: 3px 5px;
      background: #eaeaea;
      border-radius: 5px;
      margin-left: 5px;
    }
  }
}
